.gioco{
    width: auto;
}

.listaGiochi{
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto auto;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.immagineGioco{
    height: 400px;
    width: 250px;
    border: 4px solid rgba(52, 11, 165, 0.363);
}

.immagineGioco:hover{
    height: 405px;
    width: 255px;
}

button[type="submit"] {
    width: auto;
    height: auto;
    border: 1.5px solid rgb(19, 17, 17);
}

button[type="submit"]:before{
    background-color:rgba(24, 20, 20, 0.61);
}

.gioco{
    padding-bottom: 70px;
}